<html>
<script type="text/javascript">

  setTimeout(function(){

    location = ''

  },3000)

</script>
	       
		<h1 style="text-align:center; font-size:500%; font-family:verdana; background-color:blue; opacity: 0.8; color: white; border: 1px solid blue;"> {{qty_today}} suits have been sewed today!</h1>
               	<h1 style="text-align:center; font-size:300%; font-family:verdana; background-color:red; opacity: 0.5; color: white; border: 1px solid Tomato;"> {{qty_yesterday}} suits have been sewed yesterday!</h1>

	<h1 style="text-align:center; font-size:400%; font-family:verdana; color:blue;">
			Khoy-Jean-Garment
		</h1>

	<h1 style="text-align:center; font-size:200%; font-family:verdana; color:blue; background-color:white; opacity: 0.8;">
			Jean Production Line:
		</h1>

	 

		<h2 style="text-align:center">

		</h2>

                <h1 style="text-align: center;">
                        <button style=" color: black; text-align: center; font-size: 30px" onclick="window.location.href='/'">Home</button>
                        <button style=" color: black; text-align: center; font-size: 30px" onclick="window.location.href='/mon'">Monitor</button>
			<button style=" color: black; text-align: center; font-size: 30px" onclick="window.location.href='/total'">Summary</button>

                </h1>

<style>

body {
  background-image: url('');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-opacity: 0.1;
}
</style>

</html>
